.root {
    -fx-background-color: #ffffff;
    -fx-font-family: "Segoe UI", sans-serif;
}

.labelHistory {
    -fx-text-fill: #222222;
}

.text-field, .combo-box {
    -fx-pref-height: 40px;
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #e0e0e0;
    -fx-padding: 0 15 0 15;
    -fx-font-size: 13px;
    -fx-text-fill: #333;
}

.combo-box .cell {
    -fx-text-fill: #333;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0 10 0 0;
}

.combo-box .arrow {
    -fx-background-color: #999;
    -fx-shape: "M 0 0 L 4 4 L 8 0 Z";
}


.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #e0e0e0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
    -fx-padding: 5;
}

.combo-box-popup .list-cell {
    -fx-padding: 10 15 10 15;
    -fx-background-color: transparent;
    -fx-text-fill: #555;
    -fx-background-radius: 10;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #000;
}

.combo-box-popup .list-cell:filled:selected {
    -fx-background-color: #4facfe;
    -fx-text-fill: white;
}

.text-field:focused, .combo-box:focused {
    -fx-border-color: #3498db;
}

.table-container {
    -fx-background-color: linear-gradient(to bottom right, #4facfe 0%, #00f2fe 50%, #43e97b 100%);
    -fx-background-radius: 30;
    -fx-padding: 25;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.history-row {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.history-row .label {
    -fx-text-fill: #444444;
    -fx-font-weight: 500;
}

.header-box {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 15;
    -fx-padding: 15;
}

.header-box .label {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}