.gradient-container {
    -fx-background-color: linear-gradient(to bottom right, #3ca4ff, #42e6a4);
    -fx-background-radius: 20px;
    -fx-padding: 15px;
}

.custom-table {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-border-color: transparent;
}

.custom-table .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-opacity: 0;
}

/*.custom-table:focused {*/
/*    -fx-background-color: transparent;*/
/*}*/

.custom-table .scroll-bar:horizontal,
.custom-table .scroll-bar:vertical {
    -fx-opacity: 0;
}

.custom-table .table-row-cell {
    -fx-background-color: transparent;
    -fx-cell-size: 45px;
}

.custom-table .table-row-cell:filled {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-background-insets: 6 0 6 0;
}

.custom-table .table-cell {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-padding: 0 15 0 15;
}

.custom-table .table-row-cell:filled:hover {
    -fx-background-color: #f4f4f4;
}

